<%-include("pageTop.ejs")%>
<main>
    <h1>רשימת הקבצים לאחר חלוקה למסלולים וכיתות</h1>
    <div class="button-container">
        <a class="button" id="myButtonBC" href="/DownloadFiles/filesAppListBC" >קבצים שהועלו</a>
        <a class="button" id="toUploadPage" href="/addFile" >העלאת קבצים</a>
    </div>
    <div class="file-container">
        <% files.forEach(file => { %>
            <div class="files">
                <img src="/images/excel-icon.png" alt="Excel Icon" class="excel-icon">
                <a href="/DownloadFiles/filesApp/<%= file %>" download="<%= file %>"><%= file %></a>
            </div>
            <% }); %>
    </div>
    <div id="contextMenu" class="context-menu">
        <ul>
            <li id="deleteFile">מחק קובץ</li>
        </ul>
    </div>
</main>
<script src="/js/filesAppListScript.js"></script>
<%-include("pageBottom.ejs")%>
