<%- include("pageTop.ejs") %>
<main>
    <h1>רשימת הקבצים לאחר חלוקה למסלולים וכיתות</h1>
    <div class="button-container">
        <a class="button" id="myButtonBC" href="/DownloadFiles/filesAppListBC">קבצים שהועלו</a>
        <a class="button" id="toUploadPage" href="/addFile">העלאת קבצים</a>
    </div>
    <div class="file-container">
        <% files.forEach(file => { %>
            <div class="files" data-file="<%= file %>">
                <img src="/images/excel-icon.png" alt="Excel Icon" class="excel-icon">
                <a href="/DownloadFiles/filesApp/<%= file %>" download="<%= file %>"><%= file %></a>
                <button class="delete-button" style="display: none;">מחק</button>
            </div>
        <% }); %>
    </div>
</main>
<script src="/js/filesAppListScript.js"></script>
<%- include("pageBottom.ejs") %>
